<form (ngubmit)="submitForm()" [formGroup]="polllForm" class="container col-sm-7 col-12">
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Question:
        </label>
        <div class="col-sm-12">
            <input type="text" formControlName="question" placeholder="Question" class="form-control form-control-sm">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Image:
        </label>
        <div class="col-sm-12">
            <input type="text" formControlName="image" placeholder="Image" class="form-control form-control-sm">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Option:
        </label>
        <div class="col-sm-12">
            <input type="text" formControlName="option1" placeholder="Option 1" class="form-control form-control-sm">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Option:
        </label>
        <div class="col-sm-12">
            <input type="text" placeholder="Option 2" formControlName="option2" class="form-control form-control-sm">
        </div>
    </div>
    <div class="form-group ">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Option:
        </label>
        <div class="col-sm-12">
            <input type="text" placeholder="Option 3" formControlName="option3" class="form-control form-control-sm">
        </div>
    </div>
    <div class="form-group ">
        <label class="col-sm-3 col-lg-2 col-form-label col-form-label-sm">
            Option:
        </label>
        <div class="col-sm-12">
            <input type="text" formControlName="option4" placeholder="Option 4" class="form-control form-control-sm">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button (click)="submitForm()" type="submit" class="btn btn-block btn-primary mr-3 ml-3">Submit</button>
    </div>
</form>