<app-navbar (messageEvent)="receiveMessage($event)"></app-navbar>
<section class="jumpotron bg-light text-center mt-4">
    <h1>Polls Rethinked </h1>
    <p class="lead text-muted">
        Power By Blockchain
    </p>
</section>
<app-poll-create (pollCreated)="handleCreatePoll($event)" *ngIf="show"></app-poll-create>
<div class="d-flex">
    <div class="container poll-list">
        <app-poll (click)="setActivePoll(poll)" *ngFor="let poll of polls" [image]="poll.image" [voted]="poll.voted"
            [votes]="poll.votes" [question]="poll.question"></app-poll>
    </div>
    <div class="container poll-detail">
        <app-poll-vote (isvoted)="isVoted($event)" [poll_id]="activePoll.id" *ngIf="activePoll"
            [votes]="activePoll.votes" [options]="activePoll.options" [question]="activePoll.question"
            [voted]="activePoll.voted">
        </app-poll-vote>
    </div>
</div>